html, body, #outer {
  height: 100%;
  margin: 0px;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
  margin-right: 5px;
  padding: 2px 7px;
  line-height: 18px;
  font-size: 14px;
  background-color: lightgray;
  color: black;
  text-decoration: none;
  cursor: pointer;
  border: gray solid 1px;
}

a.button:active {
  background-color: darkgray;
}

a.button:hover, label.button:hover {
  border-color: red;
}

.right {
  margin-left: auto;
  margin-right: 0px;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  margin: 13px 8px 0px 8px;
}

#canvas-slot {
  position: relative;
  display: flex;
  flex-grow: 1;
  min-height: 0px;
  background-color: black;
  border: gray solid 1px;
  margin: 5px 8px 0px 8px;
}

#footer {
  display: flex;
  flex-direction: row;
  margin: 5px 8px 13px 8px;
}

#polygon-adder {
  display: flex;
}

#polygon-points {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-align: center;
  line-height: 18px;
  border: 1px solid gray;
  border-right: 0px;
  outline: 0px;
  width: 20px;
}

#polygon-points-info {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  background-color: white;
  border: 1px solid gray;
  border-left: 0px;
  border-right: 0px;
  outline: 0px;
  padding: 0px 7px 0px 0px;
}

#c {
  display: flex;
  flex: 1;
}

#f {
  display: none;
}

#save {
  display: none;
}

#help-pad {
  flex-direction: column;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10px;
  padding: 10px 25px;
  position: absolute;
  width: 350px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#close {
  position: absolute;
  background-color: lightpink;
  top: 30px;
  right: 20px;
}

#close:active {
  background-color: lightcoral;
}

.hidden {
  display: none;
}

i {
  font-style: normal;
}

p {
  text-align: justify;
  line-height: 25px;
}

#status {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 25px;
  user-select: none;
  cursor: pointer;
}

#status:hover {
  color: red;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#color-picker {
  display: flex;
  align-items: center;
}

#color-label{
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  text-align: center;
  line-height: 25px;
  padding: 0px 7px 0px 0px;
}